<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gamediscover"
        android:label="GAME DISCOVERING"
        android:roundIcon="@mipmap/gamediscover"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity android:name=".LoginActivity"
            android:label="Log In"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity android:name=".GamesActivity"
            android:label="Your Games"
            android:parentActivityName=".LoginActivity" >
        </activity>
        <activity android:name=".AddGameActivity"
            android:label="Add a Game"
            android:parentActivityName=".GamesActivity" >
        </activity>
        <activity android:name=".RecommendationsActivity"
            android:label="Recommendations"
            android:parentActivityName=".GamesActivity" >
        </activity>
        <activity android:name=".MayLikeActivity"
            android:label="You may also like..."
            android:parentActivityName=".RecommendationsActivity" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>